---
http_interactions:
- request:
    method: post
    uri: http://wherein.yahooapis.com/v1/document
    body:
      encoding: US-ASCII
      string: documentType=text%2Fhtml&outputType=xml&documentContent=New+York%2C+NY&appid=YAHOO
    headers:
      content-type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      x-yahoo-serving-host:
      - wws01.geotech.sp2.yahoo.com
      content-language:
      - en
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="utf-8"?>

        <contentlocation xmlns:yahoo="http://www.yahooapis.com/v1/base.rng" xmlns:xml="http://www.w3.org/XML/1998/namespace"
        xmlns="http://wherein.yahooapis.com/v1/schema" xml:lang="en">

        <processingTime>0.001472</processingTime>

        <version>1.6.0.801 build 120621</version>

        <documentLength>12</documentLength>

        <document>

        <administrativeScope>

        <woeId>2459115</woeId>

        <type>Town</type>

        <name><![CDATA[New York, NY, US]]></name>

        <centroid>

        <latitude>40.7146</latitude>

        <longitude>-74.0071</longitude>

        </centroid>

        </administrativeScope>

        <geographicScope>

        <woeId>2459115</woeId>

        <type>Town</type>

        <name><![CDATA[New York, NY, US]]></name>

        <centroid>

        <latitude>40.7146</latitude>

        <longitude>-74.0071</longitude>

        </centroid>

        </geographicScope>

        <localScopes>

        <localScope>

        <woeId>2459115</woeId>

        <type>Town</type>

        <name><![CDATA[New York, NY, US (Town)]]></name>

        <centroid>

        <latitude>40.7146</latitude>

        <longitude>-74.0071</longitude>

        </centroid>

        <southWest>

        <latitude>40.4957</latitude>

        <longitude>-74.2557</longitude>

        </southWest>

        <northEast>

        <latitude>40.9176</latitude>

        <longitude>-73.6895</longitude>

        </northEast>

        <ancestors>

        <ancestor>

        <woeId>2347591</woeId>

        <type>State</type>

        <name><![CDATA[New York]]></name>

        </ancestor>

        <ancestor>

        <woeId>23424977</woeId>

        <type>Country</type>

        <name><![CDATA[United States]]></name>

        </ancestor>

        </ancestors>

        </localScope>

        </localScopes>

        <extents>

        <center>

        <latitude>40.7146</latitude>

        <longitude>-74.0071</longitude>

        </center>

        <southWest>

        <latitude>40.4957</latitude>

        <longitude>-74.2557</longitude>

        </southWest>

        <northEast>

        <latitude>40.9176</latitude>

        <longitude>-73.6895</longitude>

        </northEast>

        </extents>

        <placeDetails>

        <placeId>1</placeId>

        <place>

        <woeId>2459115</woeId>

        <type>Town</type>

        <name><![CDATA[New York, NY, US]]></name>

        <centroid>

        <latitude>40.7146</latitude>

        <longitude>-74.0071</longitude>

        </centroid>

        </place>

        <placeReferenceIds>1</placeReferenceIds>

        <matchType>0</matchType>

        <weight>1</weight>

        <confidence>10</confidence>

        </placeDetails>

        <referenceList>

        <reference>

        <woeIds>2459115</woeIds>

        <placeReferenceId>1</placeReferenceId>

        <placeIds>1</placeIds>

        <start>0</start>

        <end>12</end>

        <isPlaintextMarker>1</isPlaintextMarker>

        <text><![CDATA[New York, NY]]></text>

        <type>plaintext</type>

        <xpath><![CDATA[]]></xpath>

        </reference>

        </referenceList>

        </document>

        </contentlocation>

'
  recorded_at: Wed, 05 Sep 2012 01:19:17 GMT
[...]
- request:
    method: get
    uri: http://weather.yahooapis.com/forecastrss?w=615702
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss
        version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\"
        xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo!
        Weather - Paris, FR</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html</link>\n<description>Yahoo!
        Weather for Paris, FR</description>\n<language>en-us</language>\n<lastBuildDate>Wed,
        05 Sep 2012 3:00 am CEST</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location
        city=\"Paris\" region=\"\"   country=\"France\"/>\n<yweather:units temperature=\"F\"
        distance=\"mi\" pressure=\"in\" speed=\"mph\"/>\n<yweather:wind chill=\"63\"
        \  direction=\"350\"   speed=\"7\" />\n<yweather:atmosphere humidity=\"77\"
        \ visibility=\"6.21\"  pressure=\"30.15\"  rising=\"0\" />\n<yweather:astronomy
        sunrise=\"7:12 am\"   sunset=\"8:23 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions
        for Paris, FR at 3:00 am CEST</title>\n<geo:lat>48.86</geo:lat>\n<geo:long>2.34</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html</link>\n<pubDate>Wed,
        05 Sep 2012 3:00 am CEST</pubDate>\n<yweather:condition  text=\"Fair\"  code=\"33\"
        \ temp=\"63\"  date=\"Wed, 05 Sep 2012 3:00 am CEST\" />\n<description><![CDATA[\n<img
        src=\"http://l.yimg.com/a/i/us/we/52/33.gif\"/><br />\n<b>Current Conditions:</b><br
        />\nFair, 63 F<BR />\n<BR /><b>Forecast:</b><BR />\nTue - Partly Cloudy. High:
        77 Low: 60<br />\nWed - Partly Cloudy. High: 76 Low: 52<br />\n<br />\n<a
        href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html\">Full
        Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\"
        >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Tue\"
        date=\"4 Sep 2012\" low=\"60\" high=\"77\" text=\"Partly Cloudy\" code=\"29\"
        />\n<yweather:forecast day=\"Wed\" date=\"5 Sep 2012\" low=\"52\" high=\"76\"
        text=\"Partly Cloudy\" code=\"30\" />\n<guid isPermaLink=\"false\">FRXX0076_2012_09_05_7_00_CEST</guid>\n</item>\n</channel>\n</rss>\n\n<!--
        api6.weather.sp2.yahoo.com Wed Sep  5 01:22:00 PST 2012 -->\n"
  recorded_at: Wed, 05 Sep 2012 01:21:59 GMT
recorded_with: VCR 2.2.4
