{"http_interactions":[{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?w=615702","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["text/xml;charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - Paris, FR</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html</link>\n<description>Yahoo! Weather for Paris, FR</description>\n<language>en-us</language>\n<lastBuildDate>Thu, 04 Oct 2012 2:30 am CEST</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"Paris\" region=\"\"   country=\"France\"/>\n<yweather:units temperature=\"F\" distance=\"mi\" pressure=\"in\" speed=\"mph\"/>\n<yweather:wind chill=\"57\"   direction=\"220\"   speed=\"12\" />\n<yweather:atmosphere humidity=\"88\"  visibility=\"6.21\"  pressure=\"29.83\"  rising=\"0\" />\n<yweather:astronomy sunrise=\"7:54 am\"   sunset=\"7:19 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for Paris, FR at 2:30 am CEST</title>\n<geo:lat>48.86</geo:lat>\n<geo:long>2.34</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html</link>\n<pubDate>Thu, 04 Oct 2012 2:30 am CEST</pubDate>\n<yweather:condition  text=\"Light Rain\"  code=\"11\"  temp=\"57\"  date=\"Thu, 04 Oct 2012 2:30 am CEST\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/11.gif\"/><br />\n<b>Current Conditions:</b><br />\nLight Rain, 57 F<BR />\n<BR /><b>Forecast:</b><BR />\nWed - Light Rain. High: 62 Low: 56<br />\nThu - AM Rain. High: 61 Low: 54<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Wed\" date=\"3 Oct 2012\" low=\"56\" high=\"62\" text=\"Light Rain\" code=\"11\" />\n<yweather:forecast day=\"Thu\" date=\"4 Oct 2012\" low=\"54\" high=\"61\" text=\"AM Rain\" code=\"12\" />\n<guid isPermaLink=\"false\">FRXX0076_2012_10_04_7_00_CEST</guid>\n</item>\n</channel>\n</rss>\n\n<!-- api26.weather.ac4.yahoo.com Thu Oct  4 01:01:01 PST 2012 -->\n"},"http_version":"1.1"},"recorded_at":"Thu, 04 Oct 2012 01:01:01 GMT"},{"request":{"method":"post","uri":"http://wherein.yahooapis.com/v1/document","body":{"encoding":"US-ASCII","string":"documentType=text%2fhtml&outputType=xml&documentContent=New%20York%2c%20NY&appid=YAHOO"},"headers":{"content-type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"x-yahoo-serving-host":["wws02.geotech.bf1.yahoo.com"], "content-language":["en"], "content-type":["text/xml; charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<contentlocation xmlns:yahoo=\"http://www.yahooapis.com/v1/base.rng\" xmlns:xml=\"http://www.w3.org/XML/1998/namespace\" xmlns=\"http://wherein.yahooapis.com/v1/schema\" xml:lang=\"en\">\n<processingTime>0.00196</processingTime>\n<version>1.7.0.854 build 120810</version>\n<documentLength>12</documentLength>\n<document>\n<administrativeScope>\n<woeId>2459115</woeId>\n<type>Town</type>\n<name><![CDATA[New York, NY, US]]></name>\n<centroid>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</centroid>\n</administrativeScope>\n<geographicScope>\n<woeId>2459115</woeId>\n<type>Town</type>\n<name><![CDATA[New York, NY, US]]></name>\n<centroid>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</centroid>\n</geographicScope>\n<localScopes>\n<localScope>\n<woeId>2459115</woeId>\n<type>Town</type>\n<name><![CDATA[New York, NY, US (Town)]]></name>\n<centroid>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</centroid>\n<southWest>\n<latitude>40.4766</latitude>\n<longitude>-74.2589</longitude>\n</southWest>\n<northEast>\n<latitude>40.9176</latitude>\n<longitude>-73.7004</longitude>\n</northEast>\n<ancestors>\n<ancestor>\n<woeId>2347591</woeId>\n<type>State</type>\n<name><![CDATA[New York]]></name>\n</ancestor>\n<ancestor>\n<woeId>23424977</woeId>\n<type>Country</type>\n<name><![CDATA[United States]]></name>\n</ancestor>\n</ancestors>\n</localScope>\n</localScopes>\n<extents>\n<center>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</center>\n<southWest>\n<latitude>40.4766</latitude>\n<longitude>-74.2589</longitude>\n</southWest>\n<northEast>\n<latitude>40.9176</latitude>\n<longitude>-73.7004</longitude>\n</northEast>\n</extents>\n<placeDetails>\n<placeId>1</placeId>\n<place>\n<woeId>2459115</woeId>\n<type>Town</type>\n<name><![CDATA[New York, NY, US]]></name>\n<centroid>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</centroid>\n</place>\n<placeReferenceIds>1</placeReferenceIds>\n<matchType>0</matchType>\n<weight>1</weight>\n<confidence>10</confidence>\n</placeDetails>\n<referenceList>\n<reference>\n<woeIds>2459115</woeIds>\n<placeReferenceId>1</placeReferenceId>\n<placeIds>1</placeIds>\n<start>0</start>\n<end>12</end>\n<isPlaintextMarker>1</isPlaintextMarker>\n<text><![CDATA[New York, NY]]></text>\n<type>plaintext</type>\n<xpath><![CDATA[]]></xpath>\n</reference>\n</referenceList>\n</document>\n</contentlocation>\n"},"http_version":"1.1"},"recorded_at":"Thu, 04 Oct 2012 01:01:02 GMT"},[...]
