{"http_interactions":[{"request":{"method":"get","uri":"http://A5656906587.api.wxbug.net/getLiveWeatherRSS.aspx?ACode=A5656906587&OutputType=1&UnitType=1&zipCode=90210","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/xml; charset=utf-8"]},"body":{"encoding":"US-ASCII","string":"<aws:weather xmlns:aws=\"http://www.aws.com/aws\"><aws:api version=\"2.0\" /><aws:WebURL>http://weather.weatherbug.com/CA/Los Angeles-weather.html?ZCode=Z5546&amp;Units=1&amp;stat=LSNGN</aws:WebURL><aws:InputLocationURL>http://weather.weatherbug.com/CA/Beverly Hills-weather.html?ZCode=Z5546&amp;Units=1</aws:InputLocationURL><aws:ob><aws:ob-date><aws:year number=\"2012\" /><aws:month number=\"10\" text=\"October\" abbrv=\"Oct\" /><aws:day number=\"3\" text=\"Wednesday\" abbrv=\"Wed\" /><aws:hour number=\"6\" hour-24=\"18\" /><aws:minute number=\"00\" /><aws:second number=\"00\" /><aws:am-pm abbrv=\"PM\" /><aws:time-zone offset=\"-7\" text=\"Pacific Daylight Time (USA)\" abbrv=\"PDT\" /></aws:ob-date><aws:requested-station-id /><aws:station-id>LSNGN</aws:station-id><aws:station>Alexander Hamilton Senior HS</aws:station><aws:city-state zipcode=\"90034\">Los Angeles,  CA</aws:city-state><aws:country>USA</aws:country><aws:latitude>34.0336112976074</aws:latitude><aws:longitude>-118.389999389648</aws:longitude><aws:site-url>http://www.hamiltonhighschool.net/</aws:site-url><aws:aux-temp units=\"&amp;deg;C\">32</aws:aux-temp><aws:aux-temp-rate units=\"&amp;deg;C\">-4.5</aws:aux-temp-rate><aws:current-condition icon=\"http://deskwx.weatherbug.com/images/Forecast/icons/cond000.gif\">Clear</aws:current-condition><aws:dew-point units=\"&amp;deg;C\">18</aws:dew-point><aws:elevation units=\"m\">40</aws:elevation><aws:feels-like units=\"&amp;deg;C\">20</aws:feels-like><aws:gust-time><aws:year number=\"2012\" /><aws:month number=\"10\" text=\"October\" abbrv=\"Oct\" /><aws:day number=\"3\" text=\"Wednesday\" abbrv=\"Wed\" /><aws:hour number=\"2\" hour-24=\"14\" /><aws:minute number=\"33\" /><aws:second number=\"00\" /><aws:am-pm abbrv=\"PM\" /><aws:time-zone offset=\"-7\" text=\"Pacific Daylight Time (USA)\" abbrv=\"PDT\" /></aws:gust-time><aws:gust-direction>W</aws:gust-direction><aws:gust-direction-degrees>254</aws:gust-direction-degrees><aws:gust-speed units=\"km/h\">26</aws:gust-speed><aws:humidity units=\"%\">89</aws:humidity><aws:humidity-high units=\"%\">99</aws:humidity-high><aws:humidity-low units=\"%\">70</aws:humidity-low><aws:humidity-rate>3</aws:humidity-rate><aws:indoor-temp units=\"&amp;deg;C\">36</aws:indoor-temp><aws:indoor-temp-rate units=\"&amp;deg;C\">-1</aws:indoor-temp-rate><aws:light>1.6</aws:light><aws:light-rate>-1.2</aws:light-rate><aws:moon-phase moon-phase-img=\"http://api.wxbug.net/images/moonphase/mphase15.gif\">91</aws:moon-phase><aws:pressure units=\"mb\">1012.87</aws:pressure><aws:pressure-high units=\"mb\">1013.55</aws:pressure-high><aws:pressure-low units=\"mb\">1009.82</aws:pressure-low><aws:pressure-rate units=\"mb/h\">0.00</aws:pressure-rate><aws:rain-month units=\"mm\">0.00</aws:rain-month><aws:rain-rate units=\"mm/h\">0.00</aws:rain-rate><aws:rain-rate-max units=\"mm/h\">0.00</aws:rain-rate-max><aws:rain-today units=\"mm\">0.00</aws:rain-today><aws:rain-year units=\"mm\">90.68</aws:rain-year><aws:temp units=\"&amp;deg;C\">20.4</aws:temp><aws:temp-high units=\"&amp;deg;C\">26</aws:temp-high><aws:temp-low units=\"&amp;deg;C\">18</aws:temp-low><aws:temp-rate units=\"&amp;deg;C/h\">-0.4</aws:temp-rate><aws:sunrise><aws:year number=\"2012\" /><aws:month number=\"10\" text=\"October\" abbrv=\"Oct\" /><aws:day number=\"3\" text=\"Wednesday\" abbrv=\"Wed\" /><aws:hour number=\"6\" hour-24=\"06\" /><aws:minute number=\"50\" /><aws:second number=\"06\" /><aws:am-pm abbrv=\"AM\" /><aws:time-zone offset=\"-7\" text=\"Pacific Daylight Time (USA)\" abbrv=\"PDT\" /></aws:sunrise><aws:sunset><aws:year number=\"2012\" /><aws:month number=\"10\" text=\"October\" abbrv=\"Oct\" /><aws:day number=\"3\" text=\"Wednesday\" abbrv=\"Wed\" /><aws:hour number=\"6\" hour-24=\"18\" /><aws:minute number=\"33\" /><aws:second number=\"54\" /><aws:am-pm abbrv=\"PM\" /><aws:time-zone offset=\"-7\" text=\"Pacific Daylight Time (USA)\" abbrv=\"PDT\" /></aws:sunset><aws:wet-bulb units=\"&amp;deg;C\">19.16</aws:wet-bulb><aws:wind-speed units=\"km/h\">11</aws:wind-speed><aws:wind-speed-avg units=\"km/h\">6</aws:wind-speed-avg><aws:wind-direction>WSW</aws:wind-direction><aws:wind-direction-degrees>242</aws:wind-direction-degrees><aws:wind-direction-avg>WSW</aws:wind-direction-avg></aws:ob></aws:weather>\r\n"},"http_version":"1.1"},"recorded_at":"Thu, 04 Oct 2012 01:01:00 GMT"},{"request":{"method":"get","uri":"http://A5656906587.api.wxbug.net/getForecastRSS.aspx?ACode=A5656906587&OutputType=1&UnitType=1&zipCode=90210","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/xml; charset=utf-8"]},"body":{"encoding":"US-ASCII","string":"<aws:weather xmlns:aws=\"http://www.aws.com/aws\"><aws:api version=\"2.0\" /><aws:WebURL>http://weather.weatherbug.com/CA/Beverly Hills-weather/local-forecast/7-day-forecast.html?ZCode=Z5546&amp;Units=1</aws:WebURL><aws:forecasts type=\"Detailed\" date=\"10/3/2012 2:07:00 PM\"><aws:location><aws:city>Beverly Hills</aws:city><aws:state>CA</aws:state><aws:zip>90210</aws:zip><aws:zone>CA041</aws:zone></aws:location><aws:forecast><aws:title alttitle=\"WED\">Wednesday</aws:title><aws:short-prediction>Partly Cloudy</aws:short-prediction><aws:image isNight=\"1\" icon=\"cond002.gif\">http://deskwx.weatherbug.com/images/Forecast/icons/cond002.gif</aws:image><aws:description>Wednesday</aws:description><aws:prediction>Low clouds and fog at the beaches spreading inland overnight. Lows in the lower to mid 60s. Southwest winds around 15 mph in the evening.</aws:prediction><aws:high units=\"&amp;deg;C\">--</aws:high><aws:low units=\"&amp;deg;C\">17</aws:low></aws:forecast><aws:forecast><aws:title alttitle=\"THU\">Thursday</aws:title><aws:short-prediction>Partly Cloudy</aws:short-prediction><aws:image isNight=\"0\" icon=\"cond003.gif\">http://deskwx.weatherbug.com/images/Forecast/icons/cond003.gif</aws:image><aws:description>Thursday</aws:description><aws:prediction>Low clouds and fog in the morning then sunny...except some clouds lingering at the beaches through the afternoon. Highs in the 70s to lower 80s. Southwes[...]
